.task {
  margin: 20px 10px;
  border: 1px solid #eee;
  padding: 15px;
}
.task .error {
  color: red;
  vertical-align: middle;
}

.task02 {
  width: 600px;
  margin: 30px auto;
  background-color: #eee;
  padding: 20px;
  text-align: center;
}
.task02 .desc {
  font-size: 20px;
}
.task02 .tips {
  color: red;
}

textarea {
  vertical-align: middle;
  resize:none;
}
